// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

$peach:  #fcae86;
$green:  #a7d390;
$pink: #f78b8a;
$beige: #ebd3a3;
$light: #ebe3c7;
$primary: rgb(71, 215, 172);
$grey: rgb(247, 246, 246);
$lime: rgb(218, 247, 160);
