// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Great+Vibes&family=Klee+One&display=swap');

// Define fonts for body and headers
$header-font: "Baskervville";
$nav-font: "Great Vibes";
$p-font: "Baskervville";
