// Specific CSS for your home-page
.overlay h1 {
  text-align: center;
  font-size: 70px

}

.overlay h2 {
  text-align: center;
}

.month-p p {
  text-align: center;
}

.simple-frame h5 {
  text-align: center;
}

.simple-frame{
  // border: solid #a7d390 1px;
  width: 100%;
  padding: 5px;
}

#head-banner {
  height: 500px;
  background-image: url(https://thumbnails.production.thenounproject.com/t6nGtsRv1JtpV4tf797LsHvh7GE=/fit-in/1000x1000/photos.production.thenounproject.com/photos/CD93C09F-0492-4298-9C04-0DCC6CC406B1.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  color: white;
  filter: drop-shadow(2px 4px 6px black);
  margin-bottom: 50px;
  position: relative;
}

.overlay {
    position: absolute;
  font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    gap: 15px;
    margin-top: 187px;
    font-family: auto;
    color: #3c3f3d;

}
