.banner{
  background-image: url("https://i.pinimg.com/originals/d2/40/41/d24041f9ff122f1c52f0c73f5a9fe703.jpg");
  height: 550px;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
