
.recipe-btn{
  border-radius: 8px;
  padding: 5px;
  background-color: $green;
  margin-left: 10px;
}

.recipe-btn:hover{
  background-color: $green;
}

.show-container{
  margin-top: 100px;
  margin-bottom: 100px;

  h2{
    font-family: $header-font;
    text-align: center;
    font-weight: 600;

  }
  p{
    font-family: $p-font;
    color: black;
    font-size: 22px;
  }
}



.row-custom {
  display: flex;
  margin-left: 76px;
}

.column {
  flex: 50%;
}

.nutrition-card{
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  width: 400px;
  height: 235px;
  margin: auto;
  background-color: #EFEFEF;

  li{
    font-family: $p-font;
  }
  h2{
    font-family: $header-font;
  }
}

.recipe-link {
  display: flex;
  flex-wrap: wrap;
  margin-left: 21%;
  margin-top: 20px;
  margin-bottom: 37px;
}

.recipe-link p{
  font-family: $p-font;
  font-size: 20px;
}

/* Add rounded corners to the top left and the top right corner of the image */
