<div>
  <h1> Recipes</h1>
</div>




<div class="container">
  <div id="cards">
    <% @produce_recipes.each do |produce_recipe| %>
    <div class="card" style="width: 22rem;">
    <div>
      <img class="card-img-top" src="<%= produce_recipe.recipe.img %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= produce_recipe.recipe.name %></h5>
        <p class="card-text"><%= produce_recipe.recipe.description %></p>
      </div>
    </div>
    <div class= "card-btn">
      <a target="_blank" href="<%= produce_recipe.recipe.url %>" class="btn btn-primary">Cook me!</a>
    </div>
    </div>
    <% end %>
  </div>
</div>
