<%# <div class = "test"> </div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div> %>
<%# <div class = "test"> </div> %>
<footer>
  <div class="footer-content">
        <h3> Fresh Picks</h3>
        <p>Your guide to seasonal, climate-friendly eating!</p>
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
  </div>
  <div class="footer-copyright">
    Copyright © 2022 <strong>FreshPicks</strong>
  </div>
</footer>
