<div class="instruction">
  <h2>How it works</h2>
  <br>
  <div class="month-p">
  <p>After<strong>selecting a month</strong> Fresh Picks will assist you on <strong>your journey to a healthier life!</strong>You can search for seasonal produce and matching recipes. By saving healthy recipes as your favorites we support you to be a happier and healthier version of yourself. Happy cooking!</p>
  </div>
</div>
