<div class="instruction">
  <h2>How it works</h2>
  <br>
  <div class="month-p">
  <p>By<strong> selecting a month</strong> FreshPicks will assist you on <strong>your journey to a climate-friendly and healthier life!</strong></p>
  <p>You can search for seasonal produce of a specific month and start upscaling your knowledge by reading the individul descriptions and nutritional values. Sound great? That's not all! For each produce you can find a lot of corresponding recipes for every occasion on FreshPicks. Recipes that you really fancy can be saved as favorite, so you can come back to it at any time. When you are ready to cook a delicious meal with your seasonal produce just go back to your personal space "my picks" and get started!</p>
  <p>We love to support you on your journey toward a happier and healthier version of yourself. Happy cooking!</p>
  </div>
</div>
