<div class="instruction">
  <h2>How it works</h2>
  <div class="month-p">
  <p>by <strong>selecting a month</strong> Fresh Picks will assist you in the following steps on <strong>your journey for a healthier life!</strong></p>
  by poviding healthy recipes based on your choice of produce we support to be a happier and healthier version of yourself
  </div>
</div>
