<h2>Our Mission</h2>

<div class="mission-parent">
  <br>
  <div class="simple-frame">
    <p>FreshPicks helps you to live a sustainable life while saving money</p>
    <h5> <i class="fa-solid fa-child-reaching"></i> for <strong>YOU</strong> and the <strong>PLANET</strong> <i class="fa-solid fa-seedling"></i></h5>
  </div>
  <div class="mission-child">
    <div class="mission-img">
    </div>
    <div class="mission-head">
    </div>
    <div class="mission-description">
    </div>
  </div>

  <div class="mission-child">

  </div>

  <div class="mission-child">

  </div>

</div>
