
<div class="container home-container">
<h2>Our Mission</h2>
 <br>
  <div class="simple-frame">
    <h5> <i class="fa-solid fa-child-reaching"></i> for <strong>YOU</strong> and the <strong>PLANET</strong> <i class="fa-solid fa-seedling"></i></h5>
    <p><strong>FreshPicks</strong> helps you to live a healthy and sustainable life while saving money</p>
  </div>
  <div>
    <div class="row">
      <div class="col home-card">
        <%= image_tag "bowl.png" %>
         <h6>Eat healthy</h6>
         <p>Produce that is purchased in season is more likely to be fresher and a nutritious diet is the foundation of good health.</p>
      </div>
      <div class="col home-card">
        <%= image_tag "earth.png" %>
        <h6>Reduce your carbon footprint</h6>
        <p>Eating seasonally supports local farming in your area which means less transportation, less refrigeration and less wastage of produce.</p>
      </div>
      <div class="col home-card">
        <%= image_tag "savings.png" %>
        <h6>Save money</h6>
        <p>When produce is in season, cheaper and often on sale it’s a great time to buy in bulk for yourself in order to save.</p>
      </div>
    </div>
  </div>
</div>



<div class="mission-parent">

  <div class="mission-child">
    <div class="mission-img-1">
      <%# <img src="https://storyset.com/illustration/poke-bowl/bro#A7D390FF&hide=&hide=complete"/> %>
    </div>
    <div class="mission-head">

    </div>
    <div class="mission-description">
    </div>
  </div>

  <div class="mission-child">
    <div class="mission-img-2">
    </div>
    <div class="mission-head">

    </div>

  </div>

  <div class="mission-child">
    <div class="mission-img-3">
    </div>
     <div class="mission-head">

    </div>

  </div>

</div>
