<div class="frame">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h6>Select your preferred month</h6>

        <div class="d-flex flex-wrap justify-content-center pt-4">
          <div class="clickable winter ">
            <small>January</small>
          </div>
          <div class="clickable winter">
            <small>February</small>
          </div>
          <div class="clickable winter">
            <small>March</small>
          </div>
          <div class="clickable spring">
            <small>April</small>
          </div>
          <div class="clickable spring">
            <small>May</small>
          </div>
          <div class="clickable spring">
            <small>June</small>
          </div>
          <div class="clickable summer">
            <small>July</small>
          </div>
          <div class="clickable summer">
            <small>August</small>
          </div>
          <div class="clickable summer">
            <small>September</small>
          </div>
          <div class="clickable autumn">
            <small>October</small>
          </div>
          <div class="clickable autumn">
            <small>November</small>
          </div>
          <div class="clickable autumn">
            <small>December</small>
          </div>
        </div>
          <div class="grid">
            <%= button_to "view produce", produce_index_path, {:class => "home-btn", :method => :get} %>
          </div>
      </div>
    </div>
  </div>
</div>
<%# <script src="months_grid_controller.js"></script> %>
<%#= javascript_include_tag "../javascript/controllers/months_grid_controller", "data-turbo-track": "reload", defer: true %>
<script>
const months = document.querySelectorAll('.clickable');

  const toggleActiveClass = (event) => {
    event.currentTarget.classList.toggle('active');
  };

  const toggleActiveOnClick = (month) => {
    month.addEventListener('click', toggleActiveClass);
  };

  months.forEach(toggleActiveOnClick);

</script>
