<h1>Welcome to <strong>Fresh Picks</strong></h1>
<h2>Your guide for seasonal, climate-friendly eating!</h2>

<p>by <strong>selecting a month</strong> Fresh Picks will assist you in the following steps on <strong>your journey for a healthier life!</strong></p>
<div class="simple-frame">
  <h5> <i class="fa-solid fa-child-reaching"></i> for <strong>YOU</strong> and the <strong>PLANET</strong> <i class="fa-solid fa-seedling"></i></h5>
</div>


<link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>

<div class="container">
    <div class="date">
        <input type="text" class="form-control" name="datepicker" id="datepicker" />
    </div>
</div>
