 <div id="head-banner">
  <div class="overlay">
    <h1>Welcome to Fresh Picks</h1>
    <h2>Your guide for seasonal, climate-friendly eating!</h2>
    </div>
  </div>
<div class="simple-frame">
  <h5> <i class="fa-solid fa-child-reaching"></i> for <strong>YOU</strong> and the <strong>PLANET</strong> <i class="fa-solid fa-seedling"></i></h5>
</div>
<%= render "pages/months_form_combo" %>
<div class="month-p">
<p>by <strong>selecting a month</strong> Fresh Picks will assist you in the following steps on <strong>your journey for a healthier life!</strong></p>
</div>
