.instruction {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 32px;
  padding-left: 45px;
  padding-right: 45px;

  h2{
    font-family: $p-font;
  }

  p{
    font-family: $p-font;
    font-size: 18px;
  }
  // margin: 0 25px;
}
