.home-container h2 {
  text-align: center;
  font-family: $p-font;
}
.home-card h6 {
  text-align: center;
  // color: #026721;
  font-size: 20px;
  font-family: $p-font;
}

// Specific CSS for your home-page
.home-container {
  padding-top: 32px;
  padding-bottom: 32px;
  min-width: none;
  max-width: none;
  font-family: $p-font;
}

.home-container .simple-frame p{
text-align: center;
font-family: $p-font;
font-size: 20px;
}
// even blocks have grey background
.home-container:nth-child(2n+1) {
  background-color: $grey;
}

.home-container h5 {
  color: #026721;
  font-family: $p-font;
}

.gd-choice {
  color: $green;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-family: $p-font;
  font-size: 20px;
}

.text-home p {
  font-family: $p-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #026721;
}

.text-home h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  width: 354px;
  height: 150px;
  left: 18px;
  top: 91.32px;
  font-family: $p-font;
}

.home-card {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 25px;

    p{
      font-size: 18px;
      font-family: $p-font;
    }
}

.home-card img {
  width: 200px;
  height: 150px;
  margin: 12px;
}
