.frame {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  // margin: 40px 100px;
}

.clickable {
  padding: 30px;
  width: 220px;
  background-color: white;
  // border: 1px solid #dedede;
  border: 2px solid #a7d390;
  // color: #a0a0a0;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.clickable i {
  font-size: 24px;
  margin-bottom: 10px;
}

.winter {
  padding: 30px;
  width: 220px;
  // background-color: rgba(235, 227, 199, 0.3);
  background-image: url(
    https://img.freepik.com/premium-vector/snowflakes-falling-white-background-horizontal-christmas-happy-new-year-theme-silver-falling-snowflakes-banner-gift-card-party-invitation-partner-compliment-special-business-offers_121461-4671.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.spring {
  padding: 30px;
  width: 220px;
  // background-color: rgba(167, 211, 144, 0.3);
  background-image: url(https://images.unsplash.com/photo-1602615576820-ea14cf3e476a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.summer {
  padding: 30px;
  width: 220px;
  // background-color: rgba(252, 174, 134, 0.3);
  background-image: url(https://www.photocase.com/photos/3317348-border-of-lovely-summer-garden-flowers-with-pretty-sunflowers-on-white-background-top-view-photocase-stock-photo-large.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.autumn {
  padding: 30px;
  width: 220px;
  // background-color: rgba(247, 139, 138, 0.3);
  background-image: url(https://il8.picdn.net/shutterstock/videos/3552230/thumb/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}



.clickable:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  border: 2px solid black;
  transform: scale(1.1);
}



.clickable.active {
  color: black;
  border-color: inherit;
  border: 3px solid black;
}

// .clickable.active i {
//   color: black;
// }

.frame button{
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: $green;
  color:#fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
  border-radius: 8px;
  padding: 5px;
  margin: 15px;
}
.frame button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}

.home-btn{
  border-radius: 8px;
  padding: 5px;
  background-color: $green;
  font-family: $p-font;
}

.link {
  text-decoration: none;
}



h6{
  font-family: $p-font;
  font-size: 30px;
}
