.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 5px;
  grid-gap: 0px;
  margin: 30px;
}

.grid-child-1 {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.grid-child-2 {
  border-radius: 5px;
  background-color: white;
  text-align: left;

}

.grid-child-2 .show-h1{
  font-family: $header-font;
  font-size: 50px;
  color: #026721;
  text-align: center;
  margin-bottom: 4%;
  }

  .grid-child-2 .description_p{
    width: 50%;
    margin: auto;
    font-family: $p-font;
    font-size: 18px;
    text-indent: 18px;
  }
