#cards{
  display: grid;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 35px;
}
.card-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card-img-top{
  height: 200px !important;
  object-fit: cover;

}

.card{
  justify-content: space-between;
}

.r-btn{
  text-align: end;
  display: flex;
}

.btn{
  background-color: #a7d390 !important;
  border-style: none !important;
  display: inline-block;
  margin: 0 auto 1rem;
  width: 170px;

}

.btn:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}


.recipe-h3{
  font-family: $header-font;
  font-size: 50px;
  color: #026721;
  display: inline;
  text-align: center;
  }

.recipe-h1{
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: $p-font;
  color: #026721;
  font-size: 50px;
}

.container-recipe{
  max-width: 100% !important;
  margin: auto !important;
}

.card-text{
  text-align: left;
  font-family: $p-font;
}

.card-title{
  text-align: left;
  font-family: $p-font;
}

.h1_recipe{
  margin-top: 40px;
  margin-bottom: 40px;
}
