#cards{
  display: flex;
  flex-wrap: wrap;
  gap: 26px 0;
  justify-content: space-between;
  width: 1150px;

}
.card-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card-img-top{
  height: 200px !important;
  object-fit: cover;

}

.card{
  justify-content: space-between;
}

.r-btn{
  text-align: end;
  display: flex;
}

.btn{
  background-color: #a7d390 !important;
  border-style: none !important;
  display: inline-block;
  margin: 0 auto 1rem;
  width: 170px;

}

.btn:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}


.recipe-h1{
  font-family: $header-font;
  font-size: 50px;
  color: #026721;
  display: inline;
  text-align: center;
  }

.h1_recipe{
  margin-top: 15px;
  margin-bottom: 15px
}
