
<div class="main-container">

  <div class="cards">
    <div class="wrapper">
        <div class="card">
            <img src="http://clv.h-cdn.co/assets/15/22/2048x2048/square-1432664914-strawberry-facts1.jpg">
            <div class="descriptions">
                <h1>Strawberries</h1>
                <p>
                    Strawberries are incredibly easy to grow and are almost irresistible when they turn red and ripe in the warm weather. The harvest season generally lasts from June to September, with a steady supply on offer from established runners throughout summer.
                </p>
                    <button type="button" class="btn btn-success">More about me!</button>
            </div>
        </div>
    </div>
  </div>

<%#
  <div class="cards">
    <div class="wrapper">
        <div class="card">
             <% @produce.each do |produce| %>
            <%# <img src="http://clv.h-cdn.co/assets/15/22/2048x2048/square-1432664914-strawberry-facts1.jpg">
            <div class="descriptions">
                <% <h1><%= produce.name %></h1> %>
                <%# <p>
                    <%= produce.description %>
                <%# </p>
                    <button type="button" class="btn btn-success">More about me!</button>
                    <% end %>
            <%# </div> %>
        <%# </div>
    </div>
  </div> %>

</div> %>
