


  <div class="main-container">
    <div class="index-cards">
    <%  @produce.each do |produce| %>
        <div class="index-card">
             <img src="http://clv.h-cdn.co/assets/15/22/2048x2048/square-1432664914-strawberry-facts1.jpg">
            <div class="descriptions">
               <h1> <%= produce.name %> <%= produce.id %></h1>
                 <p>
                    <%= produce.description %>
                 </p>
                  <%= button_to "More about me!", produce_path(produce), {:class => "card-btn", :method => :get} %>
                    <%# <button type="button" class="btn btn-success" >More about me!</button> %>
            </div>
        </div>
    <% end %>
    </div>
  </div>
